:root{
    --header-color: #212121;
    --accent-color: #2196F3;
    --header-tel-color: #757575;
    --main-text-color: #FFFFFF;
    --main-accent-color: #F5F4FA;
    --hero-main-color: #2F303A;
    --typical-margin: 20px;
}


.list{
    list-style: none;
}
.current{color: var(--header-color);
    display: block;
    width: 100%;
}
.current::after {
    content: "";
    position: absolute;
    bottom: -31px;
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 4px;
    background-color: var(--accent-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));}
body{
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    color : var(--header-color);
}
img{display: block;}
.v{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  .container{width: 1170px;
    margin: 0 auto;
    padding-left: 15px;;
    padding-right: 15px;
  }
  /* ------Header*/
  .header{
      padding-top: 24px;
      padding-bottom: 25px;
      border-bottom: 1px solid #ECECEC;
        }
  .header-content{
      display: flex;
      align-items: center;
  }
  .header-nav{
      display: flex;
      align-items: center;
  }
  .header-contact{
      margin-left: auto;
      display: flex;
      align-items: baseline;
      height: 16px;
  }
  .header-mail{
    margin-right: 50px;
    display: block;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
    .header-tel{
        display: block;
        transition: color 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .header-item{
        position: relative;
    }
  .header-item:not(:last-child){margin-right: 50px;}
  
  .header-logo{margin-right: 93px;}
  .header-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color);
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .header-link:focus, .header-link:hover, .header-link:active{
      color: var(--accent-color);
  }
  .header-link.current{
      color: var(--accent-color);
  }
  .header-mail:focus, .header-mail:hover{
      color: var(--accent-color);
  }
  .header-tel:hover, .header-tel:focus{
      color: var(--accent-color);
  }
  
  .link{
      text-decoration: none;
  }
  .header-tel, .header-mail  {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-tel-color);
  }
  .header-logo-left{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
  .header-logo-right{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--header-color);
  }
 .header-icon{
    fill: currentColor;
    margin-right: 10px;
 }

  /*stilization main*/

  /*-----Hero----*/
.hero-pretitle {
    background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../image/bghero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
color: var(--main-text-color);
text-transform: uppercase;
text-align: center;
max-width: 700px;
margin: 0 auto;
}
.hero-button {
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: var(--main-text-color);
background-color:var(--accent-color) ;
margin: 0 auto;
display: block;
margin-top: 30px;
min-width: 200px;
height: 50px;
border:none;
border-radius: 4px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)  ;
}
.hero-button:focus, .hero-button:hover {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*---Advantage---*/
.advantage-icon-container{
    margin-bottom: 30px;
}
.advantage-icon-list{
    display: flex;
    justify-content: center;
}
.advantage-icon-item{
    width: 270px;
    height: 120px;
    margin-left: 30px;
}
.advantage-icon-item:first-child{
    margin-left: 0;
}
.advantage-icon-link{
    display: flex;
    box-sizing: border-box;
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    justify-content: center;
    align-items: center;

}
.advantage-icon{
    display: block;
    width: 65.32px;
    height: 70px;
   
}
.advantage{
padding-top: 94px;
padding-bottom: 94px;

}
.advantage-list{
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}
.advantage-list:last-child{margin-bottom: 0;}
.advantage-item-title{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: var(--header-color);
text-transform: uppercase;
margin-bottom: 10px;
max-width: 270px;
}
.advantage-item-text{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: var(--header-tel-color);
max-width: 270px;
letter-spacing: 0.03em;
}
/*---Activities--*/
.activities{
    padding-top: 0;
    padding-bottom: 94px;
   
}
.activities-list{
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;;
}
.activities-list:last-child{margin-bottom: 0;}
.activities-item{
    position: relative;
}
.activities-title{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--header-color);
    margin-bottom: 50px;
    text-align: center;
}
.activities-top-text{
    display: block;
    position: absolute;
    bottom: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15 ;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    width: 100%;
    height: 70px;
    color: #FFFFFF;
    box-sizing: border-box;

}
/*---Team---*/
.team {
    background-color: var(--main-accent-color);
    padding-top: 89px;
    padding-bottom: 89px;
    

}
.team-list{
    display: flex;
    margin-left: -30px; 
}

.master-soc-list{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
.master-soc-item{
    width: 44px;
    height: 44px;
    margin-left: 4px;
}
.master-soc-item:first-child{
    margin-left: 0;
}
.master-soc-icon{
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2,1);
}

.soc-link{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    background-color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link:hover, .soc-link:focus{
    background-color: #2196F3;
}
.soc-link:hover .master-soc-icon, .soc-link:focus .master-soc-icon{
    fill: #FFFFFF;
}
.team-card{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.team-list-item{
    flex-basis: calc((100%-90px)/3);
    margin-left: 30px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-top: 0;
    padding-bottom: 30px;}

.team-pretitle{
font-weight: 700;
font-size: 36px;
line-height: 1.17;
letter-spacing: 0.03em;
color: var(--header-color);
margin-bottom: 50px;
text-align: center
}
.team-item-title{
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
margin-bottom: 10px;
margin-top: 30px;
}
.team-item-text{
font-weight: 400;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--header-tel-color);
}

/*---Clients---*/
.clients{
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--header-color);
    margin-bottom: 50px;
    text-align: center
}
.clients-list{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
.clients-item{
    width: 170px;
    height: 92px;
    margin-left: 30px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-item:first-child{
    margin-left: 0;
}
.clients-link{
    display: flex;
    box-sizing: border-box;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    align-content: center;
    justify-content: center;
    align-items: center;

}
.clients-link:hover, .clients-link:focus{
    border: 1px solid #2196F3
}
.clients-link:hover .client-soc-icon, .clients-link:focus .client-soc-icon{
    fill: #2196F3;
}
.client-soc-icon{
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*-----Portfolio--*/

.portfolio-btn-container{
    margin: 0 auto;
    margin-bottom: 50px; 
}
.portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
    
}
.portfolio-list-btn{
    display: flex;
    justify-content: center;
}

.portfolio-list-btn{
    margin-bottom: 0 auto;
}
.portfolio-item-title{
    margin-bottom: 4px;
}
.portfolio-btn-title:not(:first-child){
margin-left: 8px;

}
.portfolio-btn-title{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn-title:hover, .portfolio-btn-title:focus{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
    border-radius: 4px;
}

.portfolio-btn-item{
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
color: #212121;
background-color:  #F5F4FA;
cursor: pointer;
min-width: 30px;
height: 38px;
border:none;
border-radius: 4px;
padding-left: 22px;
padding-right: 22px;
padding-top: 6px;
padding-bottom: 6px;
display: flex;
align-items: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) , color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-btn-item:hover, .portfolio-btn-item:focus{
    color: #FFFFFF;
    background-color: var(--accent-color); 
} 
.portfolio-item-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--header-color);
}
.portfolio-paragraf{
    padding-left: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.portfolio-item-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--header-tel-color);
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
} 
.portfolio-list-item{
    display: block;
    width: 370px;
    margin: 15px;
    background: #FFFFFF;
    cursor: pointer;
    box-sizing: border-box;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover, .portfolio-list-item:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list-item:hover .portfolio-top-text, .portfolio-list-item:focus.portfolio-top-text{
transform: translateY(0);
}
.portfolio-top-wrap{
    position: relative;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
}
.portfolio-top-text{
    display: block;
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100%;
    box-sizing: border-box;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
/*-------Footer*/
.main-footer{
    background-color:#2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
}
.footer-content{
    display: flex;
}
.footer-logo-container{
    display: block;
}
.footer-soc-section{
    display: block;
    margin-left: 70px;
    padding-top: 20px;
}
.footer-contact-section{
    display: block;
    margin-top: 20px;
}
.footer-logo-left{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19x;
    letter-spacing: 0.03em; 
    color: var(--accent-color);  
}
.footer-logo-right{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19x;
    letter-spacing: 0.03em;
    color: var(--main-text-color) ;  
}
.footer-adress-list :not(:last-child){
    margin-bottom: 9px;
}
.footer-adress{margin-top: 20px;}
.footer-tel, .footer-mail{    
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.footer-adress{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
.footer-adress:hover, .footer-adress:focus{
    color: rgba(255, 255, 255, 0.6);
}
.footer-tel:hover, .footer-tel:focus{
    color: var(--main-text-color);
}
.footer-mail:focus, .footer-mail:hover{
    color: var(--main-text-color);
}

.footer-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
}
.footer-soc-list{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
.footer-soc-item{
    width: 44px;
    height: 44px;
    margin-left: 4px;
}
.footer-soc-item:first-child{
    margin-left: 0;
}
.footer-soc-link{
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    background-color: rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover, .footer-soc-link:focus{
    background-color: #2196F3;
}
.footer-soc-icon{
    fill:  #FFFFFF;
}
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	
	animation-duration: .5s;	
	-webkit-animation-duration: 0.5s;
	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;
    
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    background-color: #FFFFFF;
    border-radius: 4px;
    padding: 40px; 	
  }
.modal-btn-icon{
    display: block;
    fill: var(--header-color);
    width: 11px;
    height: 11px;
    
}
.modal-close-btn{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backdrop.is-hidden{ 
    opacity: 0;
    visibility: hidden;
    pointer-events: none; 
    transition: visibility 1000ms;
    animation-name: fadeOut;
	-webkit-animation-name: fadeOut;	
	animation-duration: .5s;	
	-webkit-animation-duration: 0.5s;
	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;  
}
.modal-tittle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.01;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}
.input-modal{
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    margin-bottom: 10px;
    margin-top: 4px;
    cursor: pointer;
}
.modal-btn{
   display: block; 
   margin: 0 auto;
   cursor: pointer;
}
.modal-label{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: calc(14/12);
letter-spacing: 0.01em;
color: #757575;
}
.modal-text{
    box-sizing: border-box;
    width: 100%;
    height:120px ;
    margin-top: 4px;
    padding-top: 12px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
}
@keyframes fadeOut {
	0% {
		transform: scale(1);
		opacity: 1;		
	}
	60% {
		transform: scale(0.9);	
        opacity: 1;	
	}
	80% {
		transform: scale(1.1);
	}	
	100% {
		transform: scale(0);
		opacity: 0;	
	}		
}
@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}